target/
nbactions.xml
src/main/resources/SciDB-0-0-scidb
src/main/resources/scidb-stderr.log
src/main/resources/scidb-stdout.log
src/main/resources/scidb.log
src/main/resources/storage.cfg
src/main/resources/storage.header
src/main/resources/storage.log_1
src/main/resources/storage.log_2